<!DOCTYPE html>
<html>
<title>Our Team</title>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="node_modules/bootstrap-social/bootstrap-social.css">
    <script src="node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/about.css">
</head>
<body>
<nav class="navbar navbar-dark navbar-expand-sm fixed-top">
  <div class="container ">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
          <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand ml-auto" href="#" > Let's Explore </a>
      <div class="collapse navbar-collapse" id="Navbar">
         <ul class="navbar-nav mr-auto">
             <li class="nav-item"><a class="nav-link" href="/"><span class="fa fa-home"> </span>Home</a></li>
             <li class="nav-item"><a class="nav-link active" href="#"><span class="fa fa-info"> </span>About</a></li>
             <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-list fa-lg"> </span>Destination</a>
                    <div class="dropdown-menu j1" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item c" href="/destinput/india">India</a>
                          <a class="dropdown-item c" href="/destinput/usa">USA</a>
                          <a class="dropdown-item c" href="/destinput/asia">Asia</a>
                          <a class="dropdown-item c" href="/destinput/europe">Europe</a>
                          <a class="dropdown-item c" href="/destinput/sa">South America</a>
                          <a class="dropdown-item c" href="/destinput/africa">Africa</a>
                          <a class="dropdown-item c" href="/destinput/australia">Australia</a>
                    </div>
             </li>
             <li class="nav-item"><a class="nav-link" href="/ourteam"><span class="fa fa-address-card fa-lg"> </span>Our Team</a></li>
         </ul>
      </div>
  </div>
 </nav>

   <div class="about-section">
  <h1>The Explorers</h1>
  
 
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="./images/Rushabh.jpg" alt="Rushabh" width="460" height="320">
      <div class="container">
        <h2>Rushabh Wadkar</h2>
        <p class="title">Team Captian</p>
        <p></p>
        
        <div class="contact">
            <a href="">
              <img src="https://img.icons8.com/fluent/48/000000/facebook-new.png" />
            </a>
            <a href="about.html/tw">
              <img src="https://img.icons8.com/fluent/48/000000/twitter.png"/>
            </a>
            <a href="about.html/gm">
              <img src="https://img.icons8.com/fluent/48/000000/gmail.png"/>
            </a>
        </div>
       
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="./images/muskan.jpeg" alt="Muskan" width="460" height="320" >
      <div class="container">
        <h2>Muskan Jaiswal</h2>
        <p class="title">Web Developer</p>
        
        
        <div class="contact">
            <a href="about.html/fb">
              <img src="https://img.icons8.com/fluent/48/000000/facebook-new.png" />
            </a>
            <a href="about.html/tw">
              <img src="https://img.icons8.com/fluent/48/000000/twitter.png"/>
            </a>
            <a href="about.html/gm">
              <img src="https://img.icons8.com/fluent/48/000000/gmail.png"/>
            </a>
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="./images/yashi.jpeg" alt="Yashswini Maheshwari" width="460" height="320">
      <div class="container">
        <h2>Yashswini Maheswari</h2>
        <p class="title">Backend Developer</p>
        
        <div class="contact">
            <a href=" https://www.facebook.com/Yashi2527">
              <img src="https://img.icons8.com/fluent/48/000000/facebook-new.png" />
            </a>
            <a href="https://twitter.com/MaheswariYashi?s=08">
              <img src="https://img.icons8.com/fluent/48/000000/twitter.png"/>
            </a>
            <a href="mailto:yashswinimaheswari@gmail.com">
              <img src="https://img.icons8.com/fluent/48/000000/gmail.png"/>
            </a>
        </div>
      </div>
    </div>
  </div>
</div> 

<div class="row">
  <div class="column col-12 col-md-2">

  </div>
  <div class="column col-12 col-md-4 ">
    <div class="card">
      <img src="./images/Anchal.jpeg" alt="Anchal" width="460" height="320">
      <div class="container">
        <h2>Aanchal Metha</h2>
        <p class="title">Backend Developer</p>
       
        
        <div class="contact">
            <a href="https://www.facebook.com/aanchal.mehta.18062">
              <img src="https://img.icons8.com/fluent/48/000000/facebook-new.png" />
            </a>
            <a href="https://twitter.com/Aanchal72548126?s=08">
              <img src="https://img.icons8.com/fluent/48/000000/twitter.png"/>
            </a>
            <a href="mailto:aanchalmehta2111@gmail.com ">
              <img src="https://img.icons8.com/fluent/48/000000/gmail.png"/>
            </a>
        </div>
       
      </div>
    </div>
  </div>

  <div class="column col-12 col-md-4">
    <div class="card">
      <img src="./images/pavitra.jpeg" alt="Pavithra" width="460" height="320">
      <div class="container">
        <h2>Pavithra </h2>
        <p class="title">Backend Developer(Crawling)</p>
        
        
        <div class="contact">
            <a href="">
              <img src="https://img.icons8.com/fluent/48/000000/facebook-new.png" />
            </a>
            <a href="https://mobile.twitter.com/Pavithr00829764">
              <img src="https://img.icons8.com/fluent/48/000000/twitter.png"/>
            </a>
            <a href="mailto:pavi17220.ee@rmkec.ac.in">
              <img src="https://img.icons8.com/fluent/48/000000/gmail.png"/>
            </a>
        </div>
      </div>
    </div>
  </div>

  
</div> 

</body>
</html>
