<!DOCTYPE html>
<html>
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" type="text/javascript"></script>
	<title>Piechart</title>
</head>
<body style="text-align: center;">
	<p>How people are reacting on <%= spot %> on twitter.</p>
	<div>
		<canvas id="pie-chart"></canvas>
	</div>
	<p>All values in %</p>
</body>
<script type="text/javascript">
	var overviewPie = document.getElementById("pie-chart");

Chart.defaults.global.defaultFontFamily = "Lato";
Chart.defaults.global.defaultFontSize = 15;

var overviewPieChart = {
    labels: ["Strongly Positive","Positive", "Weakly Positive", "Neutral", "Weakly Negative","Negative", "Strongly Negative"],
    datasets: [
        {
            data: [<%= results %>],
            backgroundColor: ["#000117","#000044","#002275","#23388f", "#6066c6","#9999ff","#d3e5fc"],
            borderColor: "#fff",
            borderWidth: 3
        }]
};

var chartOptionsPie = {
  rotation: -Math.PI,
  cutoutPercentage:70,
  circumference: 2*Math.PI,
  legend: {
    display:true
  },
  title: {
  	display:true,
  	text: "MAINTENANCE REQUIRED",
  	position:'bottom',
  	fontColor: 'white',
  	fontSize: 12
  },
  animation: {
    animateRotate: false,
    animateScale: true
  }
};

var pieChartdatisd = new Chart(overviewPie, {
  type: 'pie',
  data: overviewPieChart,
  options: chartOptionsPie
});


</script>

</html>